appnope==0.1.0
certifi==2017.7.27.1
chardet==3.0.4
decorator==4.1.1
idna==2.6
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.10.2
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.2
Pygments==2.2.0
PyMySQL==0.7.11
requests==2.18.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
XlsxWriter==1.0.0
